 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                      I'm a software developer with a flair for front-end development. I build web applications using ReactJS, AngularJS and Google Firebase for authentication and storage.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                      I am now looking for opportunities in web development after a leave of absense.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://docs.google.com/document/d/1o96YSvJcOTobmKeksAVqzbZ_PsIj_wBsqcnykipUESU/edit" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> See My Profile
                    </a>
                </div>
            </div>
        </div>
    </section>
